.card {
  margin: 2rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
  height: 35rem;
  text-decoration: none;

  transition: .1s ease;

  &:hover {
    transform: scale(1.05);
  }

  .image {
    object-fit: cover;
    -webkit-user-drag: none;
  }
}