@import "../helper-styles.scss";

.card {
  @include no-user-select();
  margin: 2rem;
  cursor: pointer;
  text-decoration: none;
  transition: .1s ease;
  display: grid;
  height: 60rem;
  grid-template-rows: 1fr 5fr 5rem;
  width: 45.5rem;

  .header {
    display: grid;

    h2 {
      align-self: center;
    }
  }

  &:hover {
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 0.8rem rgba(0, 0, 0, 0.15));
  }

  .image-wrapper {
    position: relative;

    .image {
      -webkit-user-drag: none;
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;
      position: absolute;
      inset: 0;
      overflow: hidden;
      z-index: 1;
      opacity: 0;
      transition: opacity .2s ease-in-out;

      &.loaded {
        opacity: 1;
      }
    }

    .loading-img {
      position: absolute;
      inset: 0;
      background-size: cover;
      background-position: center;
      filter: blur(5px);

      @keyframes loading-image {
        0% {
          background-color: rgba(255, 255, 255, 0);
        }

        50% {
          background-color: rgba(255, 255, 255, 0.15);
        }

        100% {
          background-color: rgba(255, 255, 255, 0);
        }
      }


      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;

        animation: loading-image 2s infinite;
      }
    }
  }

  .footer {
    display: grid;
    align-items: center;

    .category {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

@media (max-width: $media-width) {
  .card {
    height: 60rem !important;
    margin: 2rem 0;
  }

  .image {
    height: 100% !important;
    width: 100% !important;
  }
}