@import "../helper-styles.scss";

.card {
  @include no-user-select();
  margin: 2rem;
  cursor: pointer;
  text-decoration: none;
  transition: .1s ease;
  display: grid;
  grid-template-rows: 10rem 2fr 1fr;
  
  .header {
    display: grid;

    h2 {
      align-self: center;
    }
  }

  &:hover {
    transform: scale(1.05);
  }

  .image {
    object-fit: cover;
    -webkit-user-drag: none;
    height: 100%;
    object-position: center;
  }

  p {
    font-size: 1.5rem;
  }

  @media (max-width: $media-width) {
    p {
      font-size: 1.5rem;
    }
  }
}