@import "../helper-styles.scss";

.card {
  @include no-user-select();
  margin: 2rem;
  cursor: pointer;
  text-decoration: none;
  transition: .1s ease;
  display: grid;
  height: 60rem;
  grid-template-rows: 1fr 5fr 5rem;
  
  .header {
    display: grid;

    h2 {
      align-self: center;
    }
  }

  &:hover {
    transform: scale(1.05);
  }

  .image-wrapper {
    display: grid;
    background-color: var(--bs-gray-400);

    .image {
      -webkit-user-drag: none;
      height: 100%;
      width: 100%;
      align-self: center;
      justify-self: center;
      background-position: center;
      background-size: cover;
    }
  }

  .footer {
    display: grid;
    align-items: center;

    .category {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

@media (max-width: $media-width) {
  .card {
    height: 37rem;
  }
    .image {
      height: 100%;
      width: 100%;
    }
}