@import "../helper-styles.scss";

.card {
  @include no-user-select();
  
  margin: 2rem;
  cursor: pointer;
  height: 35rem;
  text-decoration: none;

  transition: .1s ease;

  &:hover {
    transform: scale(1.05);
  }

  .image {
    object-fit: cover;
    -webkit-user-drag: none;
  }
}

@media (max-width: $media-width) {
  .card {
    p {
      font-size: 1.5rem;
    }
  }
}