@import "../helper-styles.scss";

.categories {
  font-size: 2rem;
  width: 25%;
}

.category-item {
  font-size: 2rem;

  &.active {
    background-color: var(--bs-primary);
    color: var(--bs-light);
  }
}

@media (max-width: $media-width) {
  .menu {
    width: 100%;
  }
}