.header-wrapper {
  display: grid;
  grid-template-rows: 2fr 1fr;

  border-bottom: .1rem solid var(--bs-gray-300);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0;
  }
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}