.link-wrapper {
  width: 100%;
  text-align: center;

  .link {
    -webkit-user-drag: none;
    
    transition: .1s ease;
    text-decoration: none; 
    border-bottom: .1rem solid transparent;
    padding-bottom: .5rem;
    font-size: 1.3rem;

    &.active {
      border-bottom-color: var(--color-gold);
      color: var(--color-gold);
      font-weight: bold;
      letter-spacing: .1rem;
      font-size: 1.4rem;
    }
  }
}