@import "../helper-styles.scss";

.search-section {
  .search-input {
    &:focus {
      box-shadow: none;
    }

    font-size: 2rem;
    padding: 1.5rem 2rem;
  }
}

@media (max-width: $media-width) {
  .search-bar-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}