@import "../helper-styles.scss";

.search-bar-wrapper {
  display: grid;
  grid-template-rows: 1fr [spinner-s] 1fr [spinner-e];
}

.search-section {
  .search-input {
    &:focus {
      box-shadow: none;
    }

    font-size: 2rem;
    padding: 1.5rem 2rem;
  }
}

.spinner-wrapper {
  grid-row: spinner-s / spinner-e;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

@media (max-width: $media-width) {
  .search-bar-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}