@import "../helper-styles.scss";

.upload-form {
  font-size: 3rem;  

  input, textarea {
    font-size: 2rem;
  }

  .btn {
    font-size: 2rem;
    width: 15rem;
  }
}

@media (max-width: $media-width) {
  .upload-form {
    padding: 2rem;

    label {
      font-size: 2rem;
    }

    .submit {
      width: 100%;
    }
  }
}