@keyframes loading-image {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.image-wrapper {
  position: relative !important;

  .loading-img {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      animation: loading-image 2s infinite;
    }
  }

  .spinner-wrapper {
    z-index: 1;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
      width: 5rem;
      height: 5rem;
    }
  }

  .image {
    -webkit-user-drag: none;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s ease-in-out;

    &.loaded:is(.visible) {
      opacity: 1;
    }
  }
}