@import "../helper-styles.scss";

.content {
  padding: 5rem;

  p, li {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media (max-width: $media-width) {
  .content {
    padding: 0;
  }
}