@import "../helper-styles.scss";

.group {
  @include no-user-select();

  align-self: start;

  img {
    -webkit-user-drag: none;
  }

  .info {
    display: flex;    
    flex-direction: column;
    row-gap: 2rem;

    p {
      font-size: 1.3rem;
      line-height: 2.3rem;
      padding: 0 3rem;
    }
  }

  .body {
    margin: 0;
  }

}

@media (max-width: $media-width) {
  .group {
    .col {
      padding: 0;
      justify-self: center;
    }
  }
}