.container {
  margin-top: 10rem;
  row-gap: 5rem;
}

.title {
  font-size: 4rem;
}

.button {
  font-size: 3rem;
  width: 50%;
}

.spinner {
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
}

.success {
  display: flex;
  column-gap: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 3rem;
  align-items: center;
  font-weight: bold;
  letter-spacing: .5rem;
  border-radius: 1rem;

  .copy-button {
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.copy-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  
  .copy {
    color: var(--bs-gray-500);
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      filter: brightness(1.05);
    }
  }
}

.password-text {
  background-color: white;
  padding: 1rem 3rem;
  margin: 0;
}

.tooltip {
  font-size: 2rem;
}