@import "../helper-styles.scss";

.container {
  margin-top: 10rem;
  row-gap: 5rem;
}

.title {
  font-size: 4rem;
}

.button {
  font-size: 3rem;
  width: 50%;
}

.spinner {
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
}

.success {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;

  .message-items {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 100%;
  }
}

.copy-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  
  .copy {
    color: var(--bs-gray-500);
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      filter: brightness(1.05);
    }
  }
}

.password-text {
  background-color: white;
  padding: 1rem 3rem;
  margin: 0;
  resize: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: .2rem;
}

.tooltip {
  font-size: 2rem;
}

@media (max-width: $media-width) {
  .button {
    width: 100%;
  }

  .success {
    width: 100%;
  }

  .title {
    font-size: 3rem;
    text-align: center;
  }
}