@import "../helper-styles.scss";

.cards {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  overflow-y: auto;
}

@media (max-width: $media-width) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.no-images {
  font-size: 3rem;
}