@import "../helper-styles.scss";

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  overflow-y: auto;
}

@media (max-width: $media-width) {
  .cards {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15rem;
  }
}