@import "../helper-styles.scss";

.group {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.button {
  display: block;
}

.form * {
  font-size: 1.5em;
}

@media (max-width: $media-width) {
  .form {
    width: 100%;
  }

  .button {
    width: 100%;
  }
}