@import "../helper-styles.scss";

.group {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.button {
  display: block;
}

.form * {
  font-size: 1.5em;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.switch {
  border: none;
  outline: none;
  text-align: left;
  text-decoration: none;
  background-color: transparent;
  font-size: 1em;
  margin-left: 1rem;

  input, label {
    cursor: pointer;
    @include no-user-select;
  }
}

@media (max-width: $media-width) {
  .form {
    width: 100%;
  }

  .button {
    width: 100%;
  }
}