@import "../helper-styles.scss";

.upload-page {
  font-size: 3rem;  

  input, textarea {
    font-size: 2rem;
  }

  .submit {
    font-size: 2rem;
    width: 15rem;
  }
}

@media (max-width: $media-width) {
  .upload-page {
    label {
      font-size: 2rem;
      margin-left: 1rem;
    }

    .submit {
      width: 100%;
    }
  }
}